/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/


body {
	font-family: 'Work Sans' ;
	color: #3D3D3D;
	font-size: 14px;
}

.main-container {
	max-width: 1140px;
	margin:auto;
}

main {
	max-width: 950px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

footer {
	background-color: white;
	height: 60px;
	padding: 10px 0px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 70px;
	padding: 50px 0;

}

#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	height: 355px;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	color: #3D3D3D;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	width: 379px;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color:#B1663C;
}

h3 {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Work Sans';
}

/* Section filtres */

.filtres {
	display : flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap : 5px;
	margin-bottom : 50px;
}

.btn-filtres {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37px; 
	padding: 10px;
	border-radius: 60px;
	border: solid 1px #1D6154;
	background-color: #FFFEF8;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	box-sizing: border-box;
}

.btn-filtres:hover {
	background-color: #1D6154;
	color: #FFFEF8;
}

/* page login */

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login form{
	text-align: left;
	width: 379px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login a {
	color : black;
	text-decoration: underline;
}

/* mode edition */

.edition {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 59px;
	color: white;
	gap: 21px;
}

#logout-link {
	display : none;
}

.projets {
	display : flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

}

#modif {
	display: none;
	gap: 5px;
	margin-bottom: 2em;
	margin-right: -110px;
}

/* modale */

::backdrop {
	background-color: black;
	opacity: 0.3;
  }
  
dialog {
	background-color: white;
	border-radius: 10px;
	border:none;
	width: 630px;
	box-sizing: border-box;
}

.modale {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-modale {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#close, #retour {
	height: 24px;
	width: 24px;
	border: none;
	background-color: white;
	font-size: 12px;
	box-sizing: border-box;
}

#close:hover, #retour:hover {
	color: #B1663C;
}

.titre-modale {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 1.5em;
	margin-top: 1em;
}

.mini-gallery {
	width: 420px;
	height: 420px;
	margin: auto;
	display: grid;
	column-gap: 9px;
	row-gap: 30px;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 103px;
	box-sizing: border-box;
	border-bottom: solid 1px #B3B3B3;
}

.mini-gallery img {
	width: 76.86px;
	height: auto
}

.btn-trash {
	background-color: black;
	color: white;
	border: none;
	height: 17px;
	width: 17px;
	font-size: 11px;
	border-radius: 2px;
	position : relative;
	left : 55px;
	bottom: 101px;
}

.btn-vert {
	border: none; 
	font-family: 'Syne';
	font-weight: 700;
	font-size: 17px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 237px;
	height:36px;
	text-align: center;
	border-radius: 60px;
}

.btn-vert:disabled {
	background-color: #A7A7A7;
}

#moddale-ajout {
	display: none;
}

.ajout-projet {
	display: flex;
	flex-direction: column;
	width: 420px;
	margin: auto;
	gap: 20px;
	border-bottom: solid 1px #B3B3B3;
	padding-bottom: 40px;
	box-sizing: border-box;
	color: #3D3D3D;
}

.titre-projet, .cat-projet {
	background-color: white;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #3D3D3D;
	padding: 10px;
	box-sizing: border-box;
}

.img-projet {
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 169px;
	background-color: #E8F1F6;
}


.btn-img {
	position: absolute;
	border: none;
	text-align: center;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	color: #306685;
	font-size: 14px;
	font-weight: 500;
	background-color: #CBD6DC;
}

.ajout-img {
	position: relative;
	width: 173px;
	height: 36px;
}

.ajout-img input {
	position: relative;
	text-align: right;
	width: 173px;
	height: 36px;
	opacity: 0;
	z-index: 2;

}

.bigandgrey {
	font-size: 76px;
	color: #B9C5CC;
}

.description {
	color:#444444;
	font-size: 10px;
	font-weight: 400;
}

.affiche-ajout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.affiche-appercu {
	display: none;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

.appercu {
	height: 169px;
	object-fit: contain;	
}
.changer-img {
	text-align: center;
	height: 36px;
	width: fit-content;
	padding: 10px;
	border-radius: 50px;
	border: none;
	color: #306685;
	font-size: 10px;
	font-weight: 600;
	background-color: #CBD6DC;
	box-sizing: border-box;
	margin-right: -100px;
}

